/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


body {
  margin: 0;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  background-color: #e5c9c3;
  align-items: center;
  width: 100%;
  padding: 0px 0px 0px 20px;
  position: fixed;
  top: 0%;
  
}

.menu {
  margin: 0px 45px 0px 0px;
}

.hamIcon {
  background-color: #6c8763;
  width: 35px;
  height: 5px;
  margin: 6px 0;
  border-radius: 10px;
}

.menu:hover {
  cursor: pointer;
}

header ul {
  /* display: flex;
  justify-content: space-around; */
  /* width: 500px; */
  list-style-type: none;
  position:absolute;
  top: 65px;
  right: 20px;
}

header ul li {
  background-color: #a5b4a0;
  width: 75px;
  margin: 5px 0px 5px 0px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #a5b4a0;

}



header ul a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

header ul li:hover {
  background-color: #e5c9c3;
}

.active {
  background-color: #e5c9c3;
}

/* Footer */

footer {
 background-color: #e5c9c3;
 margin: 0;
 padding: 20px 20px 20px 30px;
}
footer h4 {
  font-size: 20px;
}

footer ul {
  list-style-type: none;
}
footer ul li {
  margin: 5px 0px 0px 0px;
  font-size: 20px;

}

footer ul li span {
  margin: 0px 5px 0px 0px;
  position: relative;
  top: 8px;
  font-size: 25px;
}

/* Site wide styles */

.content {
  margin: 125px 50px 150px 50px;
}

.content h2 {
  font-size: 30px;
}

hr {
  margin-bottom: 20px;
  margin-top: 20px;
  border-top: 1.5px solid #a5b4a0;
  border-radius: 10px;
}

.imgCont {
  /* display: flex; */
}

.imgCont img {
  width: 100%;
}

.imgCont .about-info {
 width: 95%;
 margin: 0 auto;
}

.imgCont .about-info p {
  font-size: 18px;
}

.info {
  width: 95%;
  margin: 0 auto;
}

.info p {
  font-size: 18px;
}

/* About */
.content .imgCont img {
  border: 3px solid #6c8763;
  border-radius: 5px;
}

.provide, .list {
  list-style-type: none;
  margin-left: -20px;
}

.provide li {
  font-size: 22px;
  margin-bottom: 30px;
}

.provide li span {
  margin: 10px 10px 10px 0px;
  position: relative;
  top: 8px;
  font-size: 30px;
}

/* .list {
  width: 600px;
} */



/* Contact Page */

form {
  width: 75%;
  margin: 0 auto;
  background-color: #e5c9c3;
  padding: 20px;
  border-radius: 5px;
}

form .input {
  display: flex;
  flex-direction: column;
}

form .input label {
  font-size: 20px;
  margin-top: 10px;
}

form input {
  height: 20px;
  border-radius: 4px;
  border: none;
}

form input:focus {
  border: 2px solid #6c8763;
  outline: none;
}

form textarea:focus {
  border: 2px solid #6c8763;
  outline: none;
}

form textarea {
  height: 100px;
  border-radius: 4px;
  border: none;
}

form .btnCont {
  display: flex;
  justify-content: center;
}

form button {
  background-color: #a5b4a0;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  margin-top: 10px;
}

form button:hover {
  cursor: pointer;
  background-color: #6c8763;
}

.error {
  background-color: red;
  text-align: center;
  padding: 5px;
  color: white;
}


/* Projects Page */
.projectCont img {
  width: 100%;
  border: 3px solid #6c8763;
  border-radius: 5px;
}

h3 {
  font-size: 25px;
}

.project-info {
  /* display: flex; */
}

.project-info h3 {
  /* margin-left: 20px; */
}

.projectCont {
  background-color: #e5c9c3;
  padding: 20px;
  border-radius: 5px;
}
.project-info .links {
  display: flex;
  flex-direction: column;
  /* margin: 0 auto; */
  justify-content: center;
  width: 200px;
}

.project-info .links a {
  font-size: 17px;
  margin: 5px 0px 5px 0px;
  text-decoration: none;  
  color: black;
  background-color: #a5b4a0;
  padding: 10px;
  text-align: center;
  border-radius: 4px;

}

.project-info .links a:hover {
  background-color: #6c8763;
}

.project-info .links .private {
  background-color: #a5b4a0;
  opacity: 60%;
}

.project-info .links .private:hover {
  opacity: 60%;
  background-color: #a5b4a0;
}

.input span {
  margin-top: 5px;
}


/* Resume */
.resume {
  background-color: #e5c9c3;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

}

.resume div {
  width: 85%;
  margin: 0 auto;
}

.resume div ul  {
  /* list-style: none; */
  margin-left: -10px;
  margin-top: 20px;
}

.resume div ul li {
  margin: 5px 0px 5px 0px;
}

.resume div h4 {
  font-size: 18px;
  margin-bottom: -10px;
}

.resume div h5 {
  font-size: 15px;
  margin-bottom: -10px;
  margin-top: 15px;
}

.resume div h6 {
  font-style: italic;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: -10px;
}

div .contact ul {
  list-style: none;
  width: 200px;
  margin-left: -30px;
}

div .contact ul li {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.contact ul li span {
  margin-right: 10px;
}

.contact ul a {
  color: black;
}

.pdf-download button {
  background-color: #a5b4a0;
  border: 2px solid #a5b4a0;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
}

.pdf-download button:hover {
  cursor: pointer;
  background-color: #e5c9c3;
}





@media (min-width: 850px) {
  /* Site wide */
  .content {
    margin: 125px 150px 100px 150px;
  }
  /* About */

  .imgCont {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .imgCont img {
    width: 250px;
    margin-left: 3%;
    margin-right: 20px;
  
  }
  .imgCont .about-info {
    width: 50%;

  
  }

  .imgCont .about-info p {
    font-size: 20px;
  }


 .content p {
    font-size: 20px;
  }

  /* Projects */
  #projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #projects hr {
    display: none;
  }

  .projectCont {
    width: 40%;
    margin-bottom: 50px;
  }


  /* Contact */
  form {
    width: 400px;
  }
  
}

